FRED_API_KEY_IB = "39cc89e8e96ba809e81198414fc22186"
TINGO_API_TOKEN = "a2688903e279a9178d98899ea097fd08"
FMP_API_KEY     = "0d3acacabf93691c3cb4cea1b0fb4a6d"
IBRepoPath = "/mnt/d/Downloads/Repositories/fin-glassbox/fin-glassbox"

DEBUG_MODE = 1
# 0 = no debug, 1 = debug mode on (prints additional info for debugging purposes)
ENDING_WEEK ="21"
PROCESSOR = "cpu" 

outputsPathGlobal = "outputs"
embeddingsPathGlobal = "outputs/embeddings" 
# the directory will have 9 files, 3 files of this pattern
# chunk1_train 
# chunk1_test
# chunk1_val
# and like this for all 3 chunks
FinBERTembeddingsPath = "outputs/embeddings/FinBERT" 
TSDembeddingsPath = "outputs/embeddings/TimeSeriesData"
FundamentalembeddingsPath = "outputs/embeddings/fundamentals"
regimeEmbeddingsPath = "outputs/embeddings/regime"
figuresPathGlobal = "outputs/figs"
modelsPathGlobal = "outputs/models"
resultsPathGlobal = "outputs/results"
codeOutputsPathGlobal = "outputs/codeResults"

dataPathGlobal = "data"

secDataPathGlobal = "data/sec_edgar"
RAW_DIR = "data/sec_edgar/raw"
LOG_DIR = "data/sec_edgar/logs"
INDEX_DIR = "data/sec_edgar/raw/indexes"
FILING_DIR = "data/sec_edgar/raw"
MANIFEST_DIR = "data/sec_edgar/manifests"
API_DIR = "data/sec_edgar/api"
PROCESSED_DIR = "data/sec_edgar/processed"
